body {
  background-color: #b65920;
  text-align: center;
}
h2 {
  font-size: 60px;
  font-family: 'Staatliches', sans-serif;
  font-weight: 200;
  font-style: normal;
}
Header {
  font-size: 40px;
  font-family: 'Staatliches', sans-serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: underline;
}
p {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 200;
  font-style: normal;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.grid-item {
  text-align: center;
}

.grid-item img {
  width: 300px;
  height: 300px;
}

.grid-item p {
  font-size: 20px;
  font-family: 'Staatliches', sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 10px 0 0;
}
.list {
  text-align: left;
}
.subpages {
  margins: top 6
  margins: bottom 6px;
}
.blog-p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  font-style: normal;
}